body {
  font-family: "Kanit", "Roboto", sans-serif;
  color: black;
  background-color: black;
  margin: auto;
  background-image: url(../src/images/header/icon_back.png);
}
@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    // max-width: 1600px;
    width: 100%;
  }
}
