.contact {
  padding: 50px 0;
  background-image: url(../src/images/contact/contact_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &-box {
    display: flex;
    color: white;
    align-items: center;
  }
}
.contact-information {
  display: flex;
  flex-direction: column;

  &__title {
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    position: relative;
  }
  &__underline {
    margin-top: 15px;
    width: 50px;
    height: 2px;
    position: absolute;
    background-color: $main-color;
  }

  &__text {
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 200;
    font-size: 14px;
    line-height: calc(28 / 20);
    letter-spacing: 0.02em;
  }

  &__link {
    display: inline;
    padding-bottom: 10px;
    color: white;
    font-weight: 200;
    font-size: 14px;
    line-height: calc(28 / 20);
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $main-color;
    }
  }

  &__address {
    font-style: normal;
    color: white;
    font-weight: 200;
    font-size: 14px;
    line-height: calc(28 / 20);
    letter-spacing: 0.02em;
  }
}

.form-contact {
  padding-left: 50px;
  width: 100%;
  &__group {
    margin-bottom: 1rem;
  }
  &__input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.1);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.5);
      border-color: $main-color;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(230, 139, 22, 0.25);
    }

    &--size {
      min-height: 100px;
      resize: none;
    }
  }

  &__btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $main-color;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      color: #fff;
      background-color: rgb(175, 59, 13);
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(235, 145, 28);
    }
  }
}
@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1200px) {
}
