.foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 300px;

    animation-name: aniFooter;
    animation-duration: 2s;
    animation-timing-function: $animationTiming;
  }

  &__link {
    color: white;

    animation-name: aniFooter;
    animation-duration: 2s;
    animation-timing-function: $animationTiming;
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1200px) {
}

@keyframes aniFooter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
