header {
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.headBar {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  padding: 25px 0;

  &__logo {
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation-name: logoHead;
    animation-duration: 2s;
    animation-direction: right;
    animation-timing-function: $animationTiming;
  }
  &__img {
    width: 300px;
  }
}

.navigation {
  display: flex;
  &__list {
    display: flex;
    justify-content: end;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(18px / 16px);
    letter-spacing: 0.02em;

    animation-name: aniHead;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: $animationTiming;
  }

  &__link {
    color: black;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: rgba(232, 78, 15, 255);
    }
  }
}

@keyframes logoHead {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes aniHead {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-70px);
    opacity: 0;
  }
}
