.services {
  background-image: url(../src/images/services/services_background.jpg);
  background-size: cover;
  background-repeat: none;

  &__box {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__description {
    width: 700px;
    padding-right: 20px;

    animation-name: animServices;
    animation-duration: 2s;
    animation-direction: right;
    animation-timing-function: $animationTiming;
  }
  &__title {
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
  }
  &__text {
    color: white;
    padding: 40px 0;
    font-weight: 200;
    font-size: 14px;
    line-height: calc(28 / 20);
    letter-spacing: 0.02em;
  }
  &__title-inderline {
    margin-top: 20px;
    width: 50px;
    height: 2px;
    position: absolute;
    background-color: rgba(232, 78, 15, 255);
  }
  &__button {
    background-color: rgba(232, 78, 15, 255);
    border: none;
    border-radius: 1px;
    cursor: pointer;

    color: white;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(28 / 20);
    letter-spacing: 0.02em;
  }
}

.abilities {
  background-color: rgba($color: white, $alpha: 0.8);

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;

    animation-name: animAbilities;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-timing-function: $animationTiming;
  }
  &__card {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &-text {
      color: black;
      font-weight: 300;
      font-size: 14px;
      line-height: calc(28 / 20);
      letter-spacing: 0.02em;
    }
    &-svg-background {
      display: flex;
      justify-content: center;
      background-color: rgba(232, 78, 15, 255);
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
    &-svg {
      fill: white;
      padding: 10px;
    }

    &-box {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
    }

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: calc(28 / 20);
      letter-spacing: 0.02em;

      padding-bottom: 10px;
    }
  }
}

@keyframes animAbilities {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animServices {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
