.team {
  padding: 50px 0;
  background-color: white;

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  &__description {
    padding-top: 20px;
    padding-left: 50px;
    position: relative;

    &-title {
      font-weight: 400;
      font-size: 24px;
      line-height: calc(28 / 24);
      letter-spacing: 0.02em;

      padding-bottom: 20px;
    }
    &-underline {
      margin-top: 10px;
      width: 50px;
      height: 2px;
      position: absolute;
      background-color: $main-color;
    }

    &-text {
      padding-top: 30px;
      padding-bottom: 30px;

      color: black;
      padding: 40px 0;
      font-weight: 200;
      font-size: 14px;
      line-height: calc(28 / 20);
      letter-spacing: 0.02em;

      &--orange {
        color: $main-color;
      }
    }
    &-button {
      background-color: $main-color;
      border: none;
      border-radius: 1px;
      cursor: pointer;

      color: white;
      padding: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: calc(28 / 20);
      letter-spacing: 0.02em;

      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        background-color: rgb(175, 59, 13);
      }
    }
  }
}
.photos-box {
  display: inline;
  position: relative;
}
.photos {
  width: 100%;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__img {
    border-radius: 2px;
    display: block;
    width: 100%;
    transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 769px) {
  .team {
    padding: 50px 0;
    background-color: white;

    &__box {
      display: flex;
      align-items: center;
      position: relative;
      flex-direction: row;
    }

    &__description {
      padding-top: 0px;
      padding-left: 20px;
      position: relative;

      &-title {
        padding-bottom: 20px;
      }

      &-text {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
  .photos-box {
    display: inline;
    position: relative;
  }
  .photos {
    width: 530px;
    height: 530px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__img {
      border-radius: 2px;
      display: block;
      width: 250px;
      height: 250px;
      transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 50px 0;
    background-color: white;

    &__box {
      display: flex;
      align-items: center;
      position: relative;
    }

    &__description {
      padding-left: 50px;
      position: relative;

      &-title {
        font-weight: 400;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;

        padding-bottom: 20px;
      }
      &-underline {
        margin-top: 10px;
        width: 50px;
        height: 2px;
      }

      &-text {
        padding-top: 30px;
        padding-bottom: 30px;

        color: black;
        padding: 40px 0;
        font-weight: 200;
        font-size: 14px;
        line-height: calc(28 / 20);
        letter-spacing: 0.02em;
      }
      &-button {
        padding: 10px;
        font-weight: 400;
      }
    }
  }
  .photos-box {
    display: inline;
    position: relative;
  }
  .photos {
    width: 630px;
    height: 630px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__img {
      border-radius: 2px;
      display: block;
      width: 300px;
      height: 300px;
      transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@keyframes animPhotos {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
